#будут игнорироваться все файлы и каталоги Thumbs.db
Thumbs.db
#будет игнорироваться подкаталог tmp
tmp/
# будут игнорироваться все файлы и каталоги с расширением .DS_Store
*.DS_Store
# будут игнорироваться все файлы с суффиксами _old, _backup
*_old
*_backup
